   <div class="row">
  <div class="col-md-12 logo">
    <a href="/events"><%= image_tag "search-button.png" %></a>
      <%= image_tag "logo2.png" %>
    <%= image_tag "browse-button.png" %>
  </div>
  </div>


<!-- <div class="row">
  <div class="col-md-4 col-md-offset-3 home-search-bar">
    <div class="form-group" style="display:inline;">
      <div class="input-group">
        <div class="input-group-btn">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-chevron-down"></span></button>
            <ul class="dropdown-menu">
              <li><a href="#">State</a></li>
              <li><a href="#">City</a></li>
              <li><a href="#">Artist</a></li>
              <li><a href="#">Camping</a></li>
              <li><a href="#">Month</a></li>
            </ul>
          </div>
          <input class="form-control" placeholder="What are searching for?" type="text">
          <span class="input-group-addon"><span class="fa fa-search"></span> </span>
        </div>
      </div>
    </div>
  </div> -->


  <div class="featured-logo"><%= image_tag "feat-logo2.png" %></div>

<div class="row clearfix">
  <div class="well col-md-3 col-md-offset-2 clearfix first-well">
    <div class="row">
      <div class="pull-right like-heart">
        <i class="fa fa-heart"></i>
      </div>
    </div>
    <a href="http://www.snowball.com/"><%= image_tag "logo-snowball.png" %></a>
    </div>


  <div class="well col-md-2 clearfix second-well">
    <div class="row">
      <div class="pull-right like-heart">
        <i class="fa fa-heart"></i>
      </div>
    </div>
    <a href="http://www.aclfestival.com/"><%= image_tag "ACL-Logo.png" %></a>
    </div>


  <div class="well col-md-4 col-md-offset-1 clearfix third-well">
    <div class="row">
      <div class="pull-right like-heart">
        <i class="fa fa-heart"></i>
      </div>
    </div>
    <a href="http://www.arisefestival.com/2015/"><%= image_tag "arise2-logo.png" %></a>
    </div>

  <div class="row clearfix">
  <div class="well col-md-2 clearfix fifth-well">
    <div class="row">
      <div class="pull-right like-heart">
        <i class="fa fa-heart"></i>
      </div>
    </div>
    <a href="http://allgoodfestival.com/"><%= image_tag "all-good.gif" %></a>
  </div>

  <div class="well col-md-3 col-md-offset-2 clearfix fourth-well">
    <div class="row">
      <div class="pull-right like-heart">
        <i class="fa fa-heart"></i>
      </div>
    </div>
    <div class="fifth-img">
    <a href="http://summercampfestival.com/"><%= image_tag "summercamp-logo.png" %></a>
  </div>
  </div>

  <div class="well col-md-4 clearfix sixth-well">
    <div class="row">
      <div class="pull-right like-heart">
        <i class="fa fa-heart"></i>
      </div>
    </div>
    <a href="http://hangoutmusicfest.com/"><%= image_tag "homefest-logo.png" %></a>
    </div>
<div id="row footer">
  <div class="col-md-12">
  <%= render 'shared/footer' %>
</div>
</div>
