   <div class="row">
  <div class="col-md-12 logo">
    <a href="/events"><%= image_tag "search-button.png" %></a>
      <%= image_tag "logo2.png" %>
    <%= image_tag "browse-button.png" %>
  </div>
  </div>

  <div class="featured-logo"><%= image_tag "feat-logo2.png" %></div>

<div class="row featured">
  <div class="well col-md-2 col-md-offset-1 clearfix first-well">
    <div class="row">
      <div class="pull-right like-heart">
        <i class="fa fa-heart"></i>
      </div>
    </div>
    <a href="http://www.summercampfestival.com/"><img class="img-circle" src="http://loudwhispermedia.com/wp-content/uploads/2014/10/SummerCampLogo1-240x240.png" %></a>
    </div>


  <div class="well col-md-2 clearfix second-well">
    <div class="row">
      <div class="pull-right like-heart">
        <i class="fa fa-heart"></i>
      </div>
    </div>
    <a href="http://www.aclfestival.com/"><img class="img-circle" src="http://asleepatthewheel.com/wp-content/uploads/2013/01/530668_10151104519098030_1327768427_n.jpg"/></a>
    </div>


  <div class="well col-md-2 clearfix third-well">
    <div class="row">
      <div class="pull-right like-heart">
        <i class="fa fa-heart"></i>
      </div>
    </div>
    <a href="http://www.arisefestival.com/2015/"><img class="img-circle" src="http://ecowatch.com/wp-content/uploads/2014/07/arisefestfi.jpg" %></a>
    </div>

  <div class="row clearfix">
  <div class="well col-md-2 clearfix third-well">
    <div class="row">
      <div class="pull-right like-heart">
        <i class="fa fa-heart"></i>
      </div>
    </div>
    <a href="http://sasquatchfestival.com/"><img class="img-circle" src="http://www.takeashot.lv/wp-content/uploads/2014/11/sasquatch-2010-music-festival-poster-471x454.jpg" %>
      <!-- <span class="quote"><i class="fa fa-heart"></i></span></a> -->
  </div>
<div id="row footer">
  <div class="col-md-12">
  <%= render 'shared/footer' %>
</div>
</div>
