<!-- <div class="well event-index-well"> -->
<div class="container search-tabs">
  <div class="row">
    <div class="col-md-4">
      <div class="side-bar">
        <%= render "shared/side_bar" %>
      </div>
    </div>
    <div class="col-md-offset-4">
      <div id='map-two' class='map'> </div>
      <script>
        L.mapbox.accessToken = 'pk.eyJ1IjoibHlkaWFzMzAzIiwiYSI6ImM0WG9rY28ifQ.bM1Nx1fsDmbAFLVP1f9Img';
        var map =  L.mapbox.map('map-two', 'lydias303.4498de5f',{scrollWheelZoom: true}).setView([39.828127, -98.579404], 4);;
        var myLayer = L.mapbox.featureLayer().addTo(map);
        var geojson = [
        {
        "type": "FeatureCollection",
        "features": [ <% @events.each do |ev| %>
          {
            "type": "Feature",
            "geometry": {
              "type": "Point",
              "coordinates": [
                <%= ev.lng %>,
                <%= ev.lat %>
              ]
            },
            "properties": {
        "url": "<%= request.env['HTTP_HOST']%>/events/<%= ev.id %>",
        "marker-symbol": "<%= ev.event_type == "festival" ? "campsite" : "music" %>",
        "marker-color": "<%= ev.event_type == "festival" ? "#e9620a" : "#e9620a" %>",
        "marker-size": "large",
        "display_name": "<%=  ev.display_name %><br>",
        "location": "<%=  ev.location %><br>",
        "event_type": "<%= ev.event_type %><br>"}
          },
            <% end %>]
          }
        ];

        // Add custom popups to each using our custom feature properties
myLayer.on('layeradd', function(e) {
    var marker = e.layer,
        feature = marker.feature;

    // Create custom popup content
    var popupContent =  '<a class="popup" href="http://' + feature.properties.url + '">' +
                            feature.properties.display_name +
                            feature.properties.event_type +
                        '</a>';

    // http://leafletjs.com/reference.html#popup
    marker.bindPopup(popupContent,{
        closeButton: false,
        minWidth: 320
    });
});

myLayer.setGeoJSON(geojson);
      </script>
    </div>
  </div>
</div>
</div>
<!-- </div> -->
