<h1> <%= @event.display_name %></h1>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="well">
        <%= @event.datetime  %></br>
        <%= @event.age_restriction %></br>
        <%= @event.popularity %></br>
        <%= @event.city %></br>
        <%= @event.artists.first.display_name %></br>
      </div>
    </div>
  </div>
