  <div class="row">
    <div class="col-md-8 col-md-offset-2">
        <% if @event.event_type == "Concert" %>
        <h1> <%= @event.artist %></h1>
        <div class="well event-show">
        <%= @event.show_name  %></br>
        <%= @event.date %></br>
        <%= @event.artists.map(&:display_name).join(", ") %></br>
        <%= link_to 'Find Tickets', @event.uri, class: "btn btn-info", target: "_blank" %>
        <% else %>
          <h1><%= @event.display_name %></h1></br>
          <div class="well event-show">
          <%= @event.datetime %></br>
          <%= @event.artists.map(&:display_name).join(", ") %></br>
          <%= link_to 'Find Tickets', @event.uri, class: "btn btn-info", target: "_blank" %>
        <% end %>

        <% if !current_user.nil? && current_user.events.include?(@event) %>
        <h3> Liked </h3>
        <% elsif !current_user.nil? %>
        <%= render partial: 'shared/like_button', locals: {event: @event} %>
        <% else %>
        <h5>Log in With Facebook To Like This Event! </h5>
        <% end %>
      </div>
    </div>
  </div>
