<!DOCTYPE html>
<html>
  <head>
    <title>WookBook</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <%= csrf_meta_tags %>
    <meta charset=utf-8 />
    <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.css' rel='stylesheet' />
  <style>
    body { margin:0; padding:0; }
    .map { position:absolute; top:0; bottom:0; width:100%; }
  </style>
</head>
<body>
  <% if current_page? root_path %>
    <div class="home-page-background">
  <% end %>
    <%= render "shared/nav_bar" %>
    <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, id: "flash_#{name}" %>
    <% end %>
    <%= yield %>
    <div class="row">
      <div class="col-md-12">
        <img class="footer-img" src="http://aclp3.c3cdn.com/wp/wp-content/themes/acl2013/img/desk-footer__bg.png" alt="" data-class="footer-stack--truck-trailer">
      </div>
    </div>
      <% if current_page? root_path %>
  </div>
  <% end %>
  </body>
</html>
